.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: grey;
}

.link-container a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding:5px;
    color:coral;
    background-color: teal;
    margin:5px
}


ol {
    list-style-type: none;
    padding: 0;
}

<div id = "main" style






















@media (max-width:625px) {
    .link-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 2px;
    }
}